header {
    width: 100%;
    display: grid;

    h1 {
      color: blue; 
      justify-self: center; 
    }

    nav{
      width:100%;
    }

    ul{
      background: red;
      display: flex;
      justify-content: space-evenly;
    }
  }