

    .result-box{
        background: white;  
        border: 2px solid red;
        justify-content: center;
        overflow: scroll;
        p{
            padding: auto;
            justify-self: center;
        }

        .ball-pulse > div {
            background-color: green;
          }
        
        .loader-small .loader-inner {
            transform: scale(0.5, 0.5);
          }

          
    }
