

    .result-box{
        background: white;  
        border: 2px solid red;
        justify-content: center;
        overflow: scroll;
        p{
            padding: auto;
            justify-self: center;
        }

        .ball-grid-pulse > div {
            background-color: green;
          }
          
    }
