header {
    width: 50ch;
    display: grid;
    justify-content: center;
    h1 {
      color: blue; 
      justify-self: center; 
    }

    nav{
      width:50ch;
    }

    ul{
      background: red;
      display: flex;
      justify-content: space-evenly;
    }
  }